.FoodListItem {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.FoodListItem-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}
.FoodListItem-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.FoodListItem-rows {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 22px 0 18px;
  gap: 10px;
}
.FoodListItem-rows .FoodListItem-title {
  margin: 0 0 4px;
  font-weight: 400;
  font-size: 20px;
}
.FoodListItem-rows .FoodListItem-calorie {
  margin-bottom: 8px;
}
.FoodListItem-calorie {
  padding: 2px 4px;
  border-radius: 6px;
  color: #4caf50;
  background-color: #d9d9d9;
  border: transparent;
  max-width: fit-content;
}
/* .FoodListItem-rows */
.FoodListItem-date {
  margin: 0 0 5px;
  color: #bdbdbd;
  font-size: 14px;
  letter-spacing: -0.25px;
}
.FoodListItem-rows .FoodListItem-content {
  flex: 1 1;
  margin: 0 0 5px;
  overflow: hidden;
  color: #545357;
  font-size: 16px;
  letter-spacing: -0.25px;
}
.FoodListItem-rows {
  display: flex;
  gap: 20px;
}
.FoodListItem-buttons {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.FoodListItem-edit-button,
.FoodListItem-delete-button {
  padding: 2px 6px;
  border: 1px solid #878787;
  border-radius: 3px;
  color: #000;
  font-size: 16px;
  letter-spacing: -0.28px;
  background-color: transparent;
}
.FoodListItem-delete-button {
  border: 1px solid #ff0023;
  color: #ff0023;
}
.FoodList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.FoodList > li {
  padding: 30px 0;
  border-bottom: 1px dashed #c5c5c5;
}
.FoodList > li:first-child {
  padding-top: 0;
}
