* {
  box-sizing: border-box;
}
/* 배경은 완전한 흰색보다는 조금 어두운 게 좋음(눈 아파서) */
html {
  overflow-y: scroll;
  background-color: #f9f9f9;
}
body {
  margin: 0;
}
a,
a:hover,
a:active,
a:visited {
  color: #494949;
  text-decoration: none;
}

/* 전역 변수선언 */
:root {
  --box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.05);
}

:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.nav,
.footer {
  flex: none;
}
.body {
  position: relative;
  flex-grow: 1;
}
